[Unit]
Description=kopia backup
Wants=network-online.target
After=network-online.target

# Prevent kopia from running unless the machine is plugged into power. Remove this line if you
# want to allow kopia to run anytime.
###ConditionACPower=true

[Service]
Type=oneshot

User={{ kopia_user }}
Group={{ kopia_group }}

# Security settings for systemd running as root, optional but recommended to improve security. You
# can disable individual settings if they cause problems for your use case. For more details, see
# the systemd manual: https://www.freedesktop.org/software/systemd/man/systemd.exec.html
LockPersonality=true
# Certain kopia features like Healthchecks integration need MemoryDenyWriteExecute to be off.
# But you can try setting it to "yes" for improved security if you don't use those features.
MemoryDenyWriteExecute=no
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
# Restrict write access
# Change to 'ProtectSystem=strict' and uncomment 'ProtectHome' to make the whole file
# system read-only be default and uncomment 'ReadWritePaths' for the required write access.
# Add local repository paths to the list of 'ReadWritePaths' like '-/mnt/my_backup_drive'.
ProtectSystem=full
# ProtectHome=read-only
# ReadWritePaths=-/root/.config/borg -/root/.cache/borg -/root/.kopia

CapabilityBoundingSet=CAP_DAC_READ_SEARCH CAP_NET_RAW

# Lower CPU and I/O priority.
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

# Prevent rate limiting of kopia log events.
LogRateLimitIntervalSec=0

# Timeout value affects time to start/end service when activating/deactivating. Not the total runtime seconds.
# According to documentation, this may not have an effect for oneshot jobs; but then watchdog should.
TimeoutSec=28800
WatchdogSec=28800
Restart=no

# Delay start to prevent backups running during boot.
# Requires dbus and dbus-user-session to be installed.
ExecStartPre=sleep 1m
ExecStart={{kopia_service_script_file}} run
